body {
    padding: 0px;
    margin: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: beige;
}

header{
    color: rgb(14, 14, 71);
    font-size: 25px;
}
.container{
    font-size: 30px;
    width:500px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(241, 232, 244);
    padding: 50px;
    border-radius: 25px;
    border:0.5px solid saddlebrown;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.4);
}

.hour,.minutes,.sec{
    display: flex;
    width: 120px;
    flex-direction: column;
    background-color: rgb(2, 2, 53);
    color: white;
    padding: 15px;
    border-radius: 30px;
    align-items: center;
}

#colon{
    font-size: 40px;
    padding: 10px;
}

#time{
    padding: 5px;
}